body {
    background-color: black;
}

#TopBar {
    display: flex;
    gap: 4vmin;
    position: absolute;

}

#TopBar > #Portfolio{
    color: white;
    font: Verdana;
    text-decoration: underline;
    object-position: 100% 100%;
    cursor: pointer;
}
#TopBar > #Contact{
    color: white;
    font: Verdana;
    text-decoration: underline;
    top: 100%;
    left: 50%;
    cursor: pointer;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
}

#image-track > .image {
    width: 40vmin;
    height: 30vmax;
    object-fit: cover;
    object-position: 100% 50%;
}
