body {
    background-color: black;
}

#TopBar {
    display: flex;
    gap: 4vmin;
    position: absolute;

}

#TopBar > #Portfolio{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 14px;
    object-position: 100% 100%;
    cursor: pointer;
}
#TopBar > #Contact{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 14px;
    top: 100%;
    left: 50%;
    cursor: pointer;
    
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
    cursor: pointer;
}

#image-track > .image {
    width: 40vmin;
    height: 30vmax;
    object-fit: cover;
    object-position: 100% 50%;
    cursor: pointer;
}

#enlargedImageContainer {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
